<!DOCTYPE html>
<html>
<head>
<title>Изучаем Vue 3</title>
<meta charset="utf-8" />
</head>
<body>
<div id="app">
    <div class="region" v-bind:style="{'background-color': color, height: height + 'px', width: width+'px'}"></div>
    <br><br>
    <input type="text" v-model="color" />
    <br><br>
    <input type="number" v-model="width" />
    <br><br>
    <input type="number" v-model="height" />
</div>
<script src="https://unpkg.com/vue@next"></script>
<script>
Vue.createApp({
  data() {
    return {
            color: 'red',
            width: 75,
            height: 75
     }
  }
}).mount('#app');
</script>
</body>
</html>