<!DOCTYPE html>
<html>
<head>
<title>Изучаем Vue 3</title>
<meta charset="utf-8" />
</head>
<body>
<div id="app">
    <ul>
        <template v-for="user in users">
        <li v-if="user.age > 25">
            <p>Name: {{user.name}}</p>
            <p>Age: {{user.age}}</p>
        </li>
        </template>
    </ul>
</div>
<script src="https://unpkg.com/vue@next"></script>
<script>
Vue.createApp({
  data() {
    return { 
        users: [
            {name:'Tom', age:22}, 
            {name:'Bob', age:31}, 
            {name: 'Sam', age:28}
    ]}
  }
}).mount('#app');
</script>
</body>
</html>