<!DOCTYPE html>
<html>
<head>
<title>Изучаем Vue 3</title>
<meta charset="utf-8" />
</head>
<body>
<div id="app">
    <input type="checkbox" value="Tom" v-model="selectedUsers">
     <label>Tom</label><br>
      <input type="checkbox" value="Bob" v-model="selectedUsers">
      <label>Bob</label><br>
      <input type="checkbox" value="Sam" v-model="selectedUsers">
      <label>Sam</label><br>
      <input type="checkbox" value="Alice" v-model="selectedUsers">
      <label>Alice</label><br>
      <span>Выбрано: {{selectedUsers}}</span>
</div>
<script src="https://unpkg.com/vue@next"></script>
<script>
Vue.createApp({
  data() {
    return { 
        selectedUsers:[]
    }
  }
}).mount('#app');
</script>
</body>
</html>